/* second breakpoint 830px width */

@media screen and (max-width: 830px) {

    .content-box-page-section:not(#content-box-footer) {
        padding: 20px;
    }

    #values-body,
    #mission-body,
    #vision-body {
        padding: 0;
        padding-top: 40px;
    }

    #vision-body {
        padding-bottom: 20px;
    }

    .section-image,
    .section-image::after,
    .section-image::before {
        height: 250px;
        width: 250px;
    }

    .section-quote {
        font-size: 20px;
        padding: 40px;
        margin: 20px;
        background-size: 40px;
    }

}