
body {
    display: flex;
    min-height: 100vh;
    background: url(../images/patterns/arrow-blue-light-pattern.svg);
    background-size: 150px;
    box-shadow: inset 0 0 0 10000px rgba(255, 255, 255, 0.8);
    overflow-x: hidden;
}

#content-box-nav {
    padding: 0 20px;
}

#navigation-bar {
    position: relative;
}

#logo-nav {
    margin: 0;
}

#wizard {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    flex-grow: 1;
}

#content-box-wizard {
    max-width: 1300px;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#progress-bar {
    background-color: var(--meco-gray-light);
    height: 10px;
    width: 100%;
}

#questions-box {
    opacity: 0;
    z-index: 1;
    width: 100vw;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#buttons-box {
    width: 100%;
    max-width: 800px;
    height: 60px;
    margin-bottom: 20px;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

#between-buttons {
    height: 100%;
    min-width: 20px;
    flex-grow: 1;
}

#choices-container {
    height: 100%;
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#question-title {
    color: var(--meco-gray-dark);
    max-width: 1000px;
    text-align: center;
    margin-bottom: 20px;
}

#question-description {
    color: var(--meco-gray-dark);
    max-width: 1000px;
    text-align: center;
}

#progress {
    height: 100%;
    background-color: var(--meco-blue);
    transition: all 0.5s;
}

/* choices general */

.choices-box {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    max-width: 1000px;
    margin: 0 auto;
}

.choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

.choice-image {
    box-shadow: 0 0 0 7px var(--meco-accent-blue);
    border-radius: 100%;
    background-repeat: no-repeat;
    transition: box-shadow 0.1s ease-in-out;
}

.choice-caption {
    text-align: center;
    margin-top: 20px;
    color: var(--meco-gray-dark);
}

.choice:hover .choice-image,
.choice:focus .choice-image {
    box-shadow: 0 0 0 10px var(--meco-accent-blue);
}
    
.choice-selected .choice-image,
.choice-selected:hover .choice-image {
    box-shadow: 0 0 0 7px var(--meco-blue-dark);
}

.choice-selected:focus .choice-image {
    box-shadow: 0 0 0 10px var(--meco-blue-dark);
}

/* choices-2 choices-3 choices-4*/

.choices-2 .choice,
.choices-3 .choice {
    min-width: 230px;
    max-width: 300px;
}

.choices-4 .choice {
    padding: 10px;
    min-width: 200px;
    max-width: 250px;
}

.choices-2 .choice-image,
.choices-3 .choice-image,
.choices-4 .choice-image {
    padding-top: 180px;
    width: 180px;
    background-size: 90%;
    background-position: center, 250px;
}

.choices-4 .choice-image {
    padding-top: 150px;
    width: 150px;
}

.choices-2 .choice-selected .choice-image,
.choices-3 .choice-selected .choice-image,
.choices-4 .choice-selected .choice-image {
    background-position: 250px, center;
}

.choices-2 .choice-selected:hover .choice-image, .choices-2 .choice-selected:focus .choice-image,
.choices-3 .choice-selected:hover .choice-image, .choices-3 .choice-selected:focus .choice-image,
.choices-4 .choice-selected:hover .choice-image, .choices-4 .choice-selected:focus .choice-image {
    background-position: 250px, center;
}

.choices-2 .choice-caption,
.choices-3 .choice-caption,
.choices-4 .choice-caption {
    line-height: 24px;
}

.choices-4 .choices-box {
    flex-wrap: wrap;
}

/* choices-6 */

.choices-6 .choices-box {
    max-width: 600px;
    flex-wrap: wrap;
}
.choices-6 .choice {
    min-width: 30%;
    padding: 10px;
}

.choices-6 .choice-image {
    box-shadow: 0 0 0 5px var(--meco-accent-blue);
    height: 100px;
    width: 100px;
    background-size: 90px;
    background-position: center, 150px;
}

.choices-6 .choice:hover .choice-image,
.choices-6 .choice:focus .choice-image {
    box-shadow: 0 0 0 7px var(--meco-accent-blue);
}

.choices-6 .choice-caption {
    margin-top: 10px;
}

.choices-6 .choice-selected:hover .choice-image,
.choices-6 .choice-selected:focus .choice-image {
    background-position: 150px, center;
    box-shadow: 0 0 0 7px var(--meco-blue-dark);
}

.choices-6 .choice-selected .choice-image {
    background-position: 150px, center;
    box-shadow: 0 0 0 5px var(--meco-blue-dark);
}

/* pop-up */

.pop-up {
    display: none;
}

.pop-up-visible {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    top: -80px;
    left: 0;
    z-index: 1;
    background-color: rgba(41, 41, 102, 0.8);
    height: 100vh;
    width: 100vw;
    padding: 20px;
    animation: pop-up-reveal 0.3s ease-out;
}

@keyframes pop-up-reveal {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.pop-up-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 900px;
    max-height: 600px;
    padding: 20px;
    background-color: var(--meco-white);
}

#pop-up-cancel {
    position: absolute;
    top: 0;
    right: 0;
    height: 100px;
    width: 100px;
    border: none;
    background-color: transparent;
    background-image: url(../images/graphic-elements/cancel.svg), url(../images/graphic-elements/cancel-hover.svg);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center, 200px;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

#pop-up-cancel:hover,
#pop-up-cancel:focus {
    background-position: 200px, center;
}

#pop-up-cancel:focus {
    box-shadow: inset 0 0 0 5px var(--meco-accent-blue);
}

.pop-up-title {
    margin-top: 100px;
    color: var(--meco-gray-dark);
    text-align: center;
}

.pop-up-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    padding: 30px 0;
}

.pop-up-note {
    color: var(--meco-gray);
}

/* info-box */

.thanks-page {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.info-box {
    background-color: var(--meco-white);
    padding: 50px;
    animation: info-box-translate 0.5s;
}

@keyframes info-box-translate {
    0% {transform: translateY(50px); opacity: 0;}
    100% {transform: translateY(0px); opacity: 1;}
}

.info-box-body {
    color: var(--meco-blue-dark);
    text-align: center;
}

.questions-box-disappear-right {
    animation: questions-box-disappear-right 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

.questions-box-appear-right {
    animation: questions-box-appear-right 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.questions-box-disappear-left {
    animation: questions-box-disappear-left 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

.questions-box-appear-left {
    animation: questions-box-appear-left 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes questions-box-disappear-right {
    0% {opacity: 1; transform: translateX(0px);}
    100% {opacity: 0; transform: translateX(-100px);}
}

@keyframes questions-box-appear-right {
    0% {opacity: 0; transform: translateX(100px);}
    100% {opacity: 1; transform: translateX(0px);}
}

@keyframes questions-box-disappear-left {
    0% {opacity: 1; transform: translateX(0px);}
    100% {opacity: 0; transform: translateX(100px);}
}

@keyframes questions-box-appear-left {
    0% {opacity: 0; transform: translateX(-100px);}
    100% {opacity: 1; transform: translateX(0px);}
}

div.jsx-3572108039.eactc-main-component.eactc-main-show > div > div.jsx-3139387662.eactc-window-component.eactc-window-show > div:nth-child(3) {
    display: none !important;
    }