body {
    height: 100vh;
    background-image: url(../images/patterns/arrow-pattern.svg);
    background-size: 150px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#white {
    position: fixed;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(250, 250, 250, 0.9);
}

#content-box-nav {
    padding: 0 20px;
}

#navigation-bar {
    position: relative;
}

#wizard {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

#content-box-wizard {
    width: 1300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#progress-bar {
    background-color: var(--meco-gray-light);
    height: 10px;
    width: 100%;
}

#questions-box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

#buttons-box {
    width: 1000px;
    height: 60px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

#between-buttons {
    width: 100%;
    height: 100%;
}

#choices-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#question-title {
    color: var(--meco-gray-dark);
    width: 1000px;
    text-align: center;
}

#question-description {
    color: var(--meco-gray-dark);
    width: 1000px;
    text-align: center;
}

#progress {
    height: 100%;
    background-color: var(--meco-blue);
    background-image: url(../images/graphic-elements/progress-arrow.svg);
    background-repeat: no-repeat;
    background-size: 11px;
    background-position-x: right;
}

/* choices general */

.choices-box {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 1000px;
}

.choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

.choice-image {
    border: solid 10px var(--meco-gray-light);
    border-radius: 100%;
    background-repeat: no-repeat;
}

.choice-caption {
    text-align: center;
    margin-top: 20px;
    color: var(--meco-gray-dark);
}

.choice:hover .choice-image {
    border-color: var(--meco-accent-blue);
}
    
.choice-selected .choice-image {
    border-color: var(--meco-blue-dark);
}

/* choices-2 choices-3 choices-4*/

.choices-2 .choice, .choices-3 .choice, .choices-4 .choice {
    max-width: 250px;
}

.choices-2 .choice-image, .choices-3 .choice-image, .choices-4 .choice-image {
    height: 200px;
    width: 200px;
    background-size: 170px;
    background-position: center, 250px, 250px;
}

.choices-2 .choice:hover .choice-image, .choices-3 .choice:hover .choice-image, .choices-4 .choice:hover .choice-image {
    background-position: 250px, center, 250px;
}

.choices-2 .choice-selected .choice-image, .choices-3 .choice-selected .choice-image, .choices-4 .choice-selected .choice-image {
    background-position: 250px, 250px, center;
}

.choices-2 .choice-caption, .choices-3 .choice-caption, .choices-4 .choice-caption {
    line-height: 24px;
}

/* choices-6 */

.choices-6 .choices-box {
    flex-wrap: wrap;
    padding: 0 100px;
}
.choices-6 .choice {
    flex-basis: 33%;
    padding: 10px 0;
}

.choices-6 .choice-image {
    border-width: 5px;
    height: 100px;
    width: 100px;
    background-size: 80px;
    background-position: center, 150px, 150px;
}

.choices-6 .choice:hover .choice-image {
    background-position: 150px, center, 150px;
}

.choices-6 .choice-caption {
    margin-top: 10px;
}

.choices-6 .choice-selected .choice-image {
    background-position: 150px, 150px, center;
}