
/* general */

.button {
    margin: 2px;
    padding: 0 20px;
    border-style: solid;
    border-width: 3px;
    border-radius: 30px;
    cursor: pointer;
    transition: opacity 0.2s;
}

.button:not(:disabled):hover,
.button:not(:disabled):focus {
    margin: 0px;
    border-width: 5px;
}

.button:disabled {
    opacity: 0.6;
    cursor: default;
}

/* primary */

.button-primary-normal-private {
    color: var(--meco-gray-dark);
    background-color: var(--meco-white);
    border-color: var(--meco-orange);
}

.button-primary-special-private {
    border-width: 0;
    color: var(--meco-white);
    background-color: var(--meco-orange);
    border-color: var(--meco-orange);
}

.button-primary-normal-public {
    color: var(--meco-gray-dark);
    background-color: var(--meco-white);
    border-color: var(--meco-blue);
}

.button-primary-special-public {
    border-width: 0;
    color: var(--meco-white);
    background-color: var(--meco-blue);
    border-color: var(--meco-blue);
}

.button-primary-special-private:not(:disabled):hover,
.button-primary-special-public:not(:disabled):hover,
.button-primary-special-private:not(:disabled):focus,
.button-primary-special-public:not(:disabled):focus {
    border-width: 2px;
}

/* secondary */

.button-secondary-normal {
    color: var(--meco-gray-dark);
    background-color: var(--meco-white);
    border-color: var(--meco-gray-dark);
}

.button-secondary-special {
    border-width: 0;
    color: var(--meco-gray-dark);
    background-color: var(--meco-gray-light);
    border-color: var(--meco-gray-light);
}

.button-secondary-special:not(:disabled):hover,
.button-secondary-special:not(:disabled):focus {
    border-width: 2px;
}

/* display-none */

.button-display-none {
    display: none;
}

/* link */

.link {
    color: var(--meco-gray-dark);
    height:30px;
    transition: box-shadow 0.2s;
}

.link:hover,
.link:focus {
    color: var(--meco-blue-dark);
    box-shadow: var(--meco-accent-blue) 0 5px;
}
