* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
}

body {
    background-size: 150px;
}

#page-cgu {
    background-image: url(../images/patterns/arrow-blue-light-pattern.svg);
}

#cgu-article  {
    padding: 100px;
    padding-top: 150px;
    background-color: rgba(255, 255, 255, 0.8);
}

#cgu-article section {
    padding-top: 100px;
}

#cgu-header h1 {
    color: var(--meco-blue-dark);
}

#cgu-header small {
    padding-left: 20px;
    color: var(--meco-gray-dark);
}

#cgu-header p {
    margin-top: 50px;
}

#cgu-article br {
    margin-bottom: 10px;
}

#cgu-article h2 {
    display: flex;
    width: fit-content;
    width: -moz-fit-content;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: var(--meco-gray-dark);
    cursor: pointer;
}

#cgu-article h2:hover {
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: var(--meco-accent-blue);
}

#cgu-article h2 a {
    color: inherit;
}

#cgu-article h3 {
    margin: 30px 0 10px;
    padding-left: 20px;
    color: var(--meco-blue-dark);
}

#cgu-article p,
#cgu-article ul {
    padding-left: 40px;
    color: var(--meco-gray-dark);
}

#cgu-article ul {
    margin: 10px 0;
}

#cgu-article li {
    background-image: url(../images/graphic-elements/list-item-arrow.svg);
    background-repeat: no-repeat;
    background-size: 10px;
    background-position-x: 5px;
    background-position-y: 5px;
    padding-left: 25px;
}

/* first breakpoint 830px width */

@media screen and (max-width: 830px) {
    #cgu-article {
        padding-left: 20px;
        padding-right: 20px;
    }
}
