#content-box-contact {
    margin-top: 100px;
}

#form-sub-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    padding-right: 50px;
}

.input-box {
    margin: 0;
}

#contact-title,
#info-title {
    color: var(--meco-blue-dark);
    margin-bottom: 50px;
}

#info-sub-section {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-right: 0;
    width: 100%;
}

#contact-info {
    color: var(--meco-gray-dark);
    line-height: 36px;
    padding-left: 20px;
}
.contact-info-label {
    font-weight: bold;
    font-style: normal;
}

#map {
    z-index: 1;
    display: flex;
    height: 100%;
    width: 100%;
    margin-top: 50px;
    min-height: 200px;
    border: 3px solid var(--meco-accent-blue);
}

#contact-form-submit-box {
    margin-top: 40px;
}

/* first breakpoint 1100px width */

@media screen and (max-width: 1100px) {

    #content-box-contact {
        flex-direction: column;
    }

    .content-box-page-section:not(#content-box-footer) {
        padding: 50px 20px;
    }

    #form-sub-section {
        padding-right: 0;
        padding-bottom: 50px;
        align-items: center;
    }

    #contact-form {
        align-items: center;
    }
    
}