
.page-section#page-footer {
    height: 300px;
    background-color: rgba(51, 51, 255, 0.8);
}

#content-box-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    padding: 0 50px;
}

#logo-footer {
    height: 30px;
}

#footer-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#footer-list .important-link {
    display: flex;
    color: var(--meco-white);
    margin: 5px 20px;
    transition: all 0.1s;
}

#footer-list .important-link:hover, #footer-list .important-link:focus {
    box-shadow: var(--meco-white) 0 2px;
}

#copyright-notice {
    color: var(--meco-white);
    font-weight: 400;
}

#copyright-notice a {
    font-weight: 500;
    color: var(--meco-white);
    box-shadow: none;
    transition: box-shadow 0.1s;
}

#copyright-notice a:hover,
#copyright-notice a:focus {
    box-shadow: var(--meco-white) 0 2px;
}