/* first breakpoint 1100px width */

@media screen and (max-width: 1100px) {
    
    .content-box-page-section {
        padding: 50px 50px;
    }

    #content-box-heading {
        padding-top: 130px;
    }

    #heading-title, #heading-body {
        margin-bottom: 30px;
    }

    .section-title {
        max-width: 600px;
        margin-bottom: 30px;
    }

    .text-card-title {
        margin: 10px 0;
    }

    .services-section-list-item-description {
        margin-bottom: 10px;
    }

    #values-intro-house {
        height: 150px;
        margin-top: 50px;
        margin-bottom: -200px;
    }

    #values-intro-circle {
        width: 400px;
        margin-bottom: -250px;
    }

    /* fonts */
    
    .text-page-title {
        font-weight: 800;
        font-size: 34px;
        letter-spacing: 0.034em;
        line-height: 40px;
    }

    .text-big-header {
        font-family: poppins, sans-serif;
        font-weight: 800;
        font-size: 26px;
        letter-spacing: 0.026em;
        line-height: 32px;
    }

    .text-small-header {
        font-family: poppins, sans-serif;
        font-weight: 700;
        font-size: 22px;
        letter-spacing: 0.022em;
        line-height: 28px;
    }
    
    .text-title-body {
        font-weight: 700;
        font-size: 22px;
        letter-spacing: 0.022em;
        line-height: 28px;
    }

    .text-small-body {
        font-family: bitter, sans-serif;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.032em;
        line-height: 24px;
    }

    .text-card-title {
        font-family: poppins, sans-serif;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 0.032em;
        line-height: 26px;
    }

    .text-card-body {
        font-family: bitter, sans-serif;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.035em;
        line-height: 20px;
    }
    
    .text-clickable {
        font-family: poppins, sans-serif;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 0.032em;
        line-height: 32px;
    }
    
    .text-button {
        font-family: poppins, sans-serif;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 0.032em;
        line-height: 32px;
    }

    .text-notification {
        font-family: poppins, sans-serif;
        font-weight: 500;
        font-size: 13px;
        letter-spacing: 0.024em;
        line-height: 24px;
    }

    .text-footer {
        font-family: poppins, sans-serif;
        font-weight: 500;
        font-size: 13px;
        letter-spacing: 0.024em;
        line-height: 24px;
    }
    
    #logo-nav {
        padding: 24px 0;
    }

    #logo-footer {
        height: 24px;
    }

    #values-intro-section {
        background-size: 250px, 400px, 440px;
        background-position: center bottom, center 270px, center 250px;
    }

    #reviews-list {
        max-width: 500px;
    }

    .reviews-list-item-body {
        background-size: 40px;
    }

    .top-stars {
        width: 160px;
        height: 15px;
        background-position: 0px, 30px, 60px, 90px, 120px;
        background-repeat: no-repeat;
        background-size: 15px;
        color: var(--meco-orange);
    }
    }