* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--meco-off-white);
    overflow-x: hidden;
}

#pattern {
    background-image: url(../images/patterns/arrow-pattern.svg);
    background-size: 150px;
    position: fixed;
    height: 6000px;
    width: 100vw;
    z-index: -1;
}

.page-section:nth-child(odd) {
    opacity: 1;
    background-color: var(--meco-off-white);
}

.section-title {
    text-align: center;
    width: 100%;
    max-width: 1000px;
    margin-bottom: 50px;
}

#page-heading {
    background-image: url(../images/visuals/circle-half-right.svg), url(../images/visuals/circle-half-left.svg);
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: center right, center left;
}

#content-box-heading {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 180px;
}

#heading-title, #heading-body {
    text-align: center;
    margin-bottom: 50px;
}

#heading-title {
    color: var(--meco-gray-dark);
}

#heading-body {
    max-width: 600px;
    color: var(--meco-blue-dark);
}

#content-box-values-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}

#values-intro-title, #services-section-title {
    color: var(--meco-gray-dark);
}

#values-intro-circle {
    width: 600px;
    margin-bottom: -400px;
}

#values-intro-house {
    height: 200px;
    margin-top: 100px;
    margin-bottom: -300px;
    z-index: 1;
}

#values-list, #services-section-list {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.values-list-item, .services-section-list-item {
    flex-basis: 30%;
    min-width: 200px;
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 5px;
}

.values-list-item-title, .values-list-item-description, .services-section-list-item-title, .services-section-list-item-description {
    text-align: center;
    color: var(--meco-blue-dark);
}

.card-image {
    width: 100%;
    max-width: 150px;
}

.text-card-title {
    margin: 20px 0;
}

.services-section-list-item-description {
    margin-bottom: 20px;
}

#content-box-services {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

#content-box-faq {
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#faq-box {
    display: flex;
    background-color: var(--meco-white);
    width: 100%;
    position: relative;
}

#faq-title {
    color: var(--meco-gray-dark);
}

#faq-questions-list {
    display: flex;
    flex-direction: column;
    border-right: solid 3px var(--meco-blue-light);
    width: 65%;
    height: fit-content;
    height: -moz-fit-content;
    padding: 0 25px;
}

.faq-question {
    display: flex;
    align-items: center;
    padding: 15px;
    width: 100%;
    color: var(--meco-gray);
    cursor: pointer;
    position: relative;
}

.faq-question:not(:last-child)::after {
    position: absolute;
    content: '';
    height: 0;
    width: 100%;
    left: 0;
    bottom: 0;
    border-bottom: solid 1px var(--meco-blue-light);
}

.faq-question-arrow {
    display: inline-flex;
    flex-shrink: 0;
    background-image: url("../images/graphic-elements/list-item-arrow-not-active.svg"), url("../images/graphic-elements/list-item-arrow-active.svg");
    background-repeat: no-repeat;
    background-size: 10px;
    width: 15px;
    height: 15px;
    margin-right: 15px;
    transition: all 0.2s ease-out;
}

.faq-question:hover, .faq-question:focus {
    color: var(--meco-blue-dark);
}

.faq-question-active {
    cursor: default;
}

.faq-question-active .question-body {
    color: var(--meco-blue-dark);
}

.faq-question-active .faq-question-arrow {
    background-image: url("../images/graphic-elements/list-item-arrow-active.svg");
    transform: translateX(5px);
}

.faq-answer {
    position: absolute;
    top: 0;
    left: 65%;
    display: none;
    overflow-y: scroll;
    width: 35%;
    padding: 15px;
    color: var(--meco-blue-dark);
}

.faq-answer-active {
    display: flex;
    flex-direction: column;
}

#content-box-reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#reviews-slider {
    display: flex;
    align-items: center;
}

#reviews-title {
    color: var(--meco-gray-dark);
}

.reviews-slider-arrow {
    display: flex;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    background-color: var(--meco-blue-light);
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/graphic-elements/list-item-arrow-active.svg);
    transition: all 0.2s;
}

.reviews-slider-arrow:hover, .reviews-slider-arrow:focus{
    box-shadow: 0px 0px 0px 5px var(--meco-accent-blue);
    cursor: pointer;
}

.reviews-slider-arrow-not-active {
    opacity: 0.6;
    background-image: url(../images/graphic-elements/list-item-arrow-not-active.svg);
}

.reviews-slider-arrow-not-active:hover, .reviews-slider-arrow-not-active:focus {
    box-shadow: none;
    cursor: default;
}

#reviews-slider-arrow-right {
    margin-left: 20px;
    transform: translateY(20px);
}

#reviews-slider-arrow-left {
    transform: rotateZ(180deg) translateY(-20px);
    margin-right: 20px;
}

#reviews-list {
    width: 600px;
    display: flex;
    align-items: flex-start;
    overflow: hidden;
}

.reviews-list-item {
    margin-right: 20px;
    transition: all 0.7s ease-in-out;
}

.reviews-list-item-top {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.reviews-list-item-body {
    display: flex;
    align-items: center;
    background-color: var(--meco-white);
    height: 216px;
    width: 600px;
    justify-content: center;
    background-image: url(../images/graphic-elements/quote-start.svg), url(../images/graphic-elements/quote-end.svg);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position-x: 30px, 540px;
    background-position-y: 30px, 167px;
}

.reviews-list-item-body-content-box {
    width: 460px;
}

.top-stars {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 220px;
    height: 20px;
    background-position: 0px, 40px, 80px, 120px, 160px;
    background-repeat: no-repeat;
    background-size: 20px;
    color: var(--meco-orange);
}

.top-date {
    margin-left: 40px;
    color: var(--meco-gray);
}

.review-quote {
    color: var(--meco-blue-dark);
    min-height: 72px;
}

.review-author {
    color: var(--meco-gray);
}

#content-box-newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#newsletter-title {
    color: var(--meco-gray-dark);
    width: 600px;
}

#newsletter-description {
    color: var(--meco-blue-dark);
    text-align: center;
    width: 600px;
    margin-bottom: 50px;
}

#newsletter-form {
    display: flex;
    align-items: center;
}

#email-submit-box {
    margin-left: 20px;
}