
/* Email */

.input-label {
    color: var(--meco-gray-dark);
}

.input-box {
    display: flex;
    flex-direction: column;
}

.input {
    box-shadow: 0px 0px 0px 3px var(--meco-accent-blue);
    border: none;
    color: var(--meco-gray-dark);
    width: 540px;
    height: 50px;
    text-indent: 20px;
}

.input::placeholder {
    color: var(--meco-white);
}

.input:hover::placeholder, .input:focus::placeholder {
    color: var(--meco-blue);
}

.input-box-invalid:not(:focus) {
    color: red;
    box-shadow: 0px 0px 0px 3px red;
}

.input-box-valid:not(:focus) {
    color: var(--meco-blue);
    box-shadow: 0px 0px 0px 3px var(--meco-blue);
}

.input:focus {
    box-shadow: 0px 0px 0px 3px var(--meco-gray-dark);
}

.input-hint {
    opacity: 0;
    color: red;
    transition: all 0.2s;
}

.input-box-valid + .-input-hint {
    opacity: 0;
}
.input-box-invalid + .input-hint {
    opacity: 1;
}

/* number */

.input-number::-webkit-outer-spin-button,
.input-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-number[type=number] {
  -moz-appearance: textfield;
}

/* drop-down */

.input-drop-down {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 10px;
  font-weight: 500;
  background-image: url(../images/graphic-elements/drop-down-arrow-input.svg), url(../images/graphic-elements/drop-down-arrow-input-focus.svg);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center right, -30px;
}

.input-drop-down:focus {
    background-position:  -30px, center right;
}

.input-drop-down-choice {
    font-weight: 500;
    padding-left: 20px;
}

.input-drop-down-group option {
    padding-left: 20px;
    margin-top: -50px;
}

