* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--meco-off-white);
}

.navigation-bar {
    z-index: 1;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: transparent;
    transition-property: all;
    transition-duration: 0.5s;
    transition-delay: 0.2s;
}

.navigation-bar-scroll {
    background-color: var(--meco-white);
    box-shadow: 0px 0px 2px 2px var(--meco-accent-blue);
    transition-delay: 0s;
}

#content-box-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 150px;
    width: 100%;
    max-width: 1300px;
    height: 100%;
    transition-property: all;
    transition-duration: 0.5s;
    transition-delay: 0.2s;
}

.navigation-bar-scroll #content-box-nav {
    padding: 0 20px;
    transition-delay: 0s;
}

#logo-nav {
    height: 80px;
    padding: 20px 0;
}

#logo-nav-link:focus #logo-nav {
    box-shadow: inset 0px 0px 0px 5px #CCCCFF;
    transition: box-shadow 0.2s;
}

#logo-nav-link:focus #logo-nav #letter-e {
    transform: rotateZ(45deg);
    transition: transform 0.3s;
}

#logo-nav-link:focus #chapeau {
    transform: translateY(-7%);
    transition: transform 0.3s;
}

#navigation-bar-list {
    display: flex;
    align-items: center;
    list-style: none;
    transform: translateX(326px);
    transition: transform 0.5s 0.2s;
}

.navigation-bar-scroll #navigation-bar-list {
    transform: translateX(0px);
    transition: transform 0.5s 0s;
}

#navigation-bar-list .nav-item {
    display: flex;
    align-items: center;
    height: 80px;
    margin-left: 20px;
}

.nav-item#services {
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
}

#navigation-bar-list li a {
    display: flex;
    align-items: center;
}
#navigation-bar-list li a#cta-nav-link {
    margin-left: 50px;
}

#services-link {
    box-sizing: border-box;
    height: 80px;
    flex-shrink: 0;
    padding: 0 30px;
    transition: box-shadow 0.2s, background-color 0.3s;
}

.services-active #services-link {
    background-color: var(--meco-accent-blue);
}

.services-active #services-link:focus {
    background-color: transparent;
}

#services-link:hover, #services-link:focus {
    box-shadow: inset 0px 0px 0px 5px var(--meco-accent-blue);
}

.drop-down-title {
    color: var(--meco-gray-dark);
    margin-right: 15px;
}

#services-link:hover .drop-down-title, #services-link:focus .drop-down-title, .services-active .drop-down-title {
    color: var(--meco-blue-dark);
}

.drop-down-arrow {
    background-image: url("../images/graphic-elements/drop-down-arrow.svg"), url("../images/graphic-elements/drop-down-arrow-hover.svg");
    background-repeat: no-repeat;
    height: 10px;
    width: 15px;
    transition: transform 0.5s;
}

#services-link:hover .drop-down-arrow, #services-link:focus .drop-down-arrow, .services-active .drop-down-arrow {
    background-image:  url("../images/graphic-elements/drop-down-arrow-hover.svg");
}

.services-active#services {
    overflow: visible;
}

.services-active .drop-down .drop-down-arrow {
    transform: rotateZ(180deg);
}

#drop-down-content {
    display: none;
    padding: 20px;
    margin-right: -200px;
    flex-direction: column;
    background-color: var(--meco-accent-blue);
    opacity: 0;
    transition: opacity 0.3s;
}

.services-active #drop-down-content {
    display: flex;
    opacity: 1;
}

.drop-down-item-link {
    text-indent: 40px;
    background-image: url("../images/graphic-elements/list-item-arrow.svg"), url("../images/graphic-elements/list-item-arrow-hover.svg");
    background-size: 10px;
    background-position: 15px;
    background-repeat: no-repeat;
    color: var(--meco-gray-dark);
    transition: background-position 0.3s;
}

.drop-down-item-link:hover, .drop-down-item-link:focus {
    background-image: url("../images/graphic-elements/list-item-arrow-hover.svg");
    background-position: 20px;
    color: var(--meco-blue-dark);
}

.link {
    color: var(--meco-gray-dark);
    height:30px;
    transition: box-shadow 0.2s;
}

.link:hover, .link:focus {
    color: var(--meco-blue-dark);
    box-shadow: var(--meco-accent-blue) 0 5px;
}

.button-special-private:focus {
    display: flex;
    border: solid 0px transparent;
    border-radius: 30px;
}

.button-special-private {
    padding: 0 20px;
    color: var(--meco-white);
    background-color: var(--meco-blue);
    border-width: 0;
    border-radius: 30px;
    box-shadow: inset 0px 0px 0px 1px var(--meco-blue), 0px 0px 0px 0px var(--meco-blue);
}

#cta-nav-link {
    opacity: 0;
    transform: translateX(50px);
    transition: transform 0.2s 0s, opacity 0.2s 0s, box-shadow 0.2s 0s;
}

.button-special-private:hover, .button-special-private:focus {
    box-shadow: inset 0px 0px 0px 1px var(--meco-blue), 0px 0px 0px 3px var(--meco-blue);
}

.navigation-bar-scroll #cta-nav-link {
    transform: translateX(0px);
    opacity: 100%;
    transition: transform 0.2s 0.5s, opacity 0.2s 0.5s, box-shadow 0.2s 0s;
}

#pattern {
    background-image: url(../images/patterns/arrow-pattern.svg);
    background-size: 150px;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

.page-section, #page-heading {
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 657px;
    width: 100%;
    background-color: rgba(250, 250, 250, 0.8);
}

.page-section:nth-of-type(odd) {
    opacity: 1;
    background-color: var(--meco-white);
}

.page-section#page-footer {
    height: 300px;
}

.content-box-page-section {
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 1300px;
}

.section-title {
    text-align: center;
    width: 100%;
    max-width: 1000px;
}

#page-heading {
    mask-image: url(../images/visuals/circle-right.svg), url(../images/visuals/circle-left.svg);
    mask-repeat: no-repeat;
    mask-size: 4000px;
    mask-position: center right, center left;
    mask-composite: intersect;
}

#content-box-heading {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 100px 0;
}

#heading-title, #heading-body{
    text-align: center;
}

#heading-body {
    max-width: 600px;
    color: var(--meco-blue-dark);
}

#cta-heading-link {
    padding: 2px 20px;
}

#values-intro {
    background-image: url(../images/visuals/maison.svg), url(../images/visuals/circle.svg), url(../images/visuals/symbols.svg);
    background-repeat: no-repeat;
    background-size: 300px, 600px, 640px;
    background-position: center bottom, center 357px, center 337px;
    background-blend-mode: normal, multiply, normal;
}

#content-box-values-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 120px;
}