/* second breakpoint 830x width */

@media screen and (max-width: 830px) {

    .page-mobile #content-box-nav {
        padding: 0 30px;
    }

    #navigation-bar-list {
        display: none;
    }

    #logo-nav-link #logo-nav {
        display: flex;
        opacity: 1;
        padding: 20px 0;
        animation: element-reveal-opacity 0.2s;
    }

    .logo-nav-link-after-scroll#logo-nav-link #logo-nav {
        display: none;
    }

    .logo-nav-link-after-scroll#logo-nav-link + #icon-nav-link{
        opacity: 1;
        display: flex;
        animation: element-reveal-opacity 0.3s;
    }

    #icon-nav-link {
        display: none;
        position: fixed;
        top: 0;
        left: calc(50vw - 40px);
        justify-content: center;
        height: 80px;
        width: 80px;
        padding: 20px 0;
    }

    @keyframes element-reveal-opacity {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }

    #burger {
        z-index: 1;
        display: flex;
        height: 100%;
        padding: 25px 0;
        cursor: pointer;
    }

    #navigation-bar-list-container {
        width: 100%;
        display: flex;
        padding: 10px;
        position: fixed;
        top: 0;
        right: 0;
        justify-content: flex-end;
    }

    .burger-clicked ~ #navigation-bar-list-container #navigation-bar-list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        overflow: hidden;
        position: relative;
        height: 100%;
        max-width: 400px;
        width: 100%;
        padding: 0 20px;
        padding-top: 70px;
        background-color: var(--meco-white);
        animation: show-menu 0.5s;
        transform-origin: 100% 0%;
    }

    @keyframes show-menu {
        0% {opacity: 0; transform: scale(0);}
        100% {opacity: 1; transform: scale(1);}
    }

    .burger-clicked ~ #navigation-bar-list-container #cta-nav {
        margin: 20px 0;
        width: 100%;
        justify-content: center;
    }

    .nav-item {
        position: relative;
        width: 100%;
        opacity: 1;
    }

    #services-link:hover, #services-link:focus {
        box-shadow: none;
        cursor: pointer;
    }

    #about-link {
        box-shadow: 0 7px 0 -2px var(--meco-blue);
    }

    .nav-item:not(:last-child)::after {
        position: absolute;
        content: '';
        height: 0;
        width: 100%;
        left: 0;
        bottom: 0;
        border-bottom: solid 2px var(--meco-gray-light);
        opacity: 0.4;
    }

    .drop-down-arrow,
    #services-link:hover .drop-down-arrow {
        transform: rotateZ(90deg);
        background-image: url("../images/graphic-elements/drop-down-arrow-blue.svg");
    }

    .nav-item#services {
        overflow: visible;
    }

    #drop-down-content {
        top: 0;
        left: 100%;
        width: 100%;
    }

    .drop-down-item {
        display: flex;
        position: relative;
        align-items: center;
        height: 80px;
        width: 100%;
        margin: 0;
        margin-left: 20px;
    }

    .drop-down-item-link {
        background: none;
        height: 30px;
        margin: 0 20px;
        text-indent: 0;
        box-shadow: 0 7px 0 -2px var(--meco-blue);
    }

    .drop-down-item:not(:last-child)::after {
        position: absolute;
        content: '';
        height: 0;
        width: 100%;
        left: 0;
        bottom: 0;
        border-bottom: solid 2px var(--meco-gray-light);
        opacity: 0.4;
    }

    .drop-down-item-link:hover {
        background: none;
    }

    .burger-clicked + #menu-overlay {
        display: flex;
        background-color: black;
        background-color: rgba(41, 41, 102, 0.8);
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        animation: show-overlay 0.5s;
    }

    @keyframes show-overlay {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }

    .nav-item {
        transform: translateX(0px);
        transition: transform 0.5s ease-in-out;
    }

    .services-shown .nav-item {
        transform: translateX(calc(-100% - 20px));
        transition: transform 0.5s ease-in-out;
    }

    .services-shown #services-link {
        animation: list-go-back 0.2s;
        animation-delay: 0.5s;
        animation-fill-mode: forwards;
    }

    @keyframes list-go-back {
        0% {
            opacity: 0;
            transform: translateX(-50px) translateY(-80%);
        }
        100% {
            opacity: 1;
            position: absolute;
            left: 100%;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            transform: translateX(0px) translateY(-80%);
            flex-direction: row-reverse;
            justify-content: flex-end;
            align-items: center;
        }
    }

    .services-shown .drop-down-title {
        margin-right: 0;
        margin-left: 15px;
        transition: margin 0s;
        transition-delay: 0.5s;
    }

    .services-shown .drop-down-arrow,
    .services-shown #services-link:hover .drop-down-arrow {
        transform: rotateZ(-90deg);
        transition: transform 0s;
        transition-delay: 0.5s;
    }

}