body {
    background-size: 150px;
}

#page-chauffage {
    background-image: url(../images/patterns/degree-blue-light-pattern.svg);
}

#page-energie {
    background-image: url(../images/patterns/bar-blue-light-pattern.svg);
}

#page-isolation {
    background-image: url(../images/patterns/dots-blue-light-pattern.svg);
}

.page-section:not(#page-footer) {
    padding-top: 80px;
}

.content-box-page-section:not(#content-box-footer) {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 100px 50px;
}

.section-body {
    display: flex;
    flex-direction: column;
    max-width: 720px;
}

.section-title {
    color: var(--meco-blue-dark);
    margin-bottom: 50px;
}

.section-description {
    margin-bottom: 50px;
    color: var(--meco-gray-dark);
}

.section-cta {
    display: flex;
    width: fit-content;
    width: -moz-fit-content;
}
.section-image {
    margin-top: 50px;
}

div.jsx-3572108039.eactc-main-component.eactc-main-show > div > div.jsx-3139387662.eactc-window-component.eactc-window-show > div:nth-child(3) {
    display: none !important;
}